<p id="notice"><%= notice %></p>

<p>
  <strong>Collection:</strong>
  <%= @collection.collection_id %>
</p>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
