<%= render "navbar" %>
<div id="main-container" class="container">
<div class="row">
<div class="col-md-8">
<h3>As IIIF collections are crawled by the search engine, we log any errors we find here.</h3>
<% @log_files.each do |logfile| %>
<p> <%= link_to File.basename(logfile), logfile_path(File.basename(logfile)) %> </p>
<% end %>
</div>
</div>
</div>