<%= render "navbar" %>
<div id="main-container" class="container">

<div class="row">
<div class="col-md-8">
<h3>Your collection has been added.</h3>
<p>Consider adding it to <a href="https://github.com/ryanfb/iiif-universe/blob/gh-pages/iiif-universe.json">https://github.com/ryanfb/iiif-universe/blob/gh-pages/iiif-universe.json</a> so that it will be reindexed automatically.</p>
 </div>
  </div>
  </div>